@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #282828;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(229, 230, 231, 1) 100%
  );
}

/* Nav */
nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 5em;
  top: 0;
  z-index: 10;
  background: #ebebeb;
}

.main-title {
  font-size: 2rem;
  margin-left: 1em;
  text-align: center;
  color: #282828;
}

.main-title:hover {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav-item {
  list-style-type: none;
  margin-right: 5.5em;
  font-size: 1rem;
  color: #282828;
  opacity: 1;
  transition: all 0.1s ease-in;
}

.nav-item:hover {
  cursor: pointer;
  opacity: 0.9;
  border-bottom: 3px solid #585858;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f4f0ec;
}

.container {
  animation: transitionIn 1s;
}

/* Page transition */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* Home Page */
.welcome-container {
  padding: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  text-align: center;
}

.welcome-title {
  font-size: 3.2rem;
  color: #ebebeb;
}

.subtitle {
  color: #ebebeb;
  font-size: 1.3rem;
}

.order-now-link {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background: rgb(240, 240, 240);
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(146, 185, 208, 1) 100%
  );
  color: #282828;
  height: 2.5em;
  width: 10em;
  font-size: 1.3rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.order-now-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.order-now-link:active {
  transform: translateY(-2px);
}

.home-div {
  display: flex;
  flex-direction: column;
}

.hero-div {
  background: url('/dist/images/pizza.jpg');
  background-size: cover;
  background-attachment: contain;
  height: 90vh;
}

.article-section {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  margin-bottom: 4em;
}

.our-story-text {
  margin: 2em;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.article-home-image {
  width: 60%;
  margin: 0 auto;
  margin-top: 3em;
  border-radius: 2px;
}

.text-div {
  margin: 0 auto;
  margin-top: 3em;
  width: 80%;
}

.homepage-text {
  padding: 3em;
  text-align: start;
  line-height: 2.5;
}

.follow-text {
  margin: 2em;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.icon-div {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-bottom: 2em;
}

.icon-div a {
  font-size: 1.2rem;
  transition: transform 0.2s ease-in;
}

.icon-div a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bi-facebook {
  font-size: 2.2em;
  color: blue;
}

.bi-instagram {
  font-size: 2.2em;
  padding-left: 1rem;
  color: darkred;
}

.bi-twitter {
  font-size: 2.2em;
  padding-left: 1rem;
  color: skyblue;
}

.feed-div {
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 15em;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.feed {
  width: 32%;
  height: 90%;
  opacity: 1;
  border-radius: 5px;
  transition: opacity 0.2s linear;
}

.feed:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Menu Page */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-top: 2em;
  margin-bottom: 20em;
}

.menu-title {
  font-weight: 500;
  font-size: 3.5rem;
  margin-top: 1em;
}

.drink-title {
  text-align: center;
  font-size: 1.5rem;
}

.menu-div {
  background-image: linear-gradient(
    25deg,
    hsl(0deg 0% 100%) 0%,
    hsl(44deg 36% 99%) 7%,
    hsl(44deg 36% 99%) 13%,
    hsl(44deg 35% 98%) 20%,
    hsl(44deg 35% 98%) 27%,
    hsl(45deg 35% 97%) 33%,
    hsl(45deg 35% 96%) 40%,
    hsl(45deg 35% 96%) 47%,
    hsl(45deg 35% 95%) 54%,
    hsl(45deg 35% 95%) 60%,
    hsl(45deg 35% 94%) 67%,
    hsl(45deg 35% 93%) 74%,
    hsl(45deg 35% 93%) 80%,
    hsl(45deg 35% 92%) 87%,
    hsl(45deg 35% 92%) 93%,
    hsl(45deg 35% 91%) 100%
  );
  border: none;
  border-radius: 5px;
  margin: 4em;
  box-shadow: 2px 2px 2px gray;
  padding: 2em 2em 3em 2em;
  width: 50%;
}

.pizza-name,
.drink-title {
  margin: 1em;
}

.pizza-description {
  margin: 2em;
}

hr {
  margin: 0 auto;
  margin-top: 3em;
  width: 18em;
}

.images-div {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  margin: 3em;
  margin-bottom: 10em;
}

.menu-images {
  height: 25%;
  width: 40%;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.menu-images:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Contact Page */
h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

p {
  text-align: center;
  font-size: 1rem;
}

.form-div {
  margin-top: 3em;
  margin-bottom: 5em;
  width: 70%;
}

.form-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

input,
textarea {
  padding: 0.8em;
  border-radius: 5px;
  border-top: none;
  font-family: 'Lato', sans-serif;
}

textarea {
  height: 8em;
}

.submit-btn {
  padding: 0.8em;
  height: 3em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(213, 226, 241, 1) 100%
  );
  color: black;
  transition: background-color 0.5s ease-in;
}

.submit-btn:hover {
  cursor: pointer;
  background: lightgray;
}

.submit-btn:active {
  transform: translateY(-2px);
}

.contact-div {
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.info-div {
  margin-top: 5em;
  margin-bottom: 10em;
  display: flex;
  gap: 10em;
}

.message {
  font-size: 1rem;
  margin-top: -2em;
  margin-bottom: 2em;
}

/* Footer */
.footer {
  width: 100%;
  height: 5em;
  text-align: center;
  font-weight: bold;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(213, 226, 241, 1) 100%
  );
  bottom: 0;
  padding-top: 1.8em;
}

/* Media Query */
@media only screen and (min-width: 320px) {
  html {
    font-size: 40%;
  }

  .main-title {
    display: none;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: left 0.2s ease-in;
    background: #ebebeb;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 10em;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hamburger .bar {
    background-color: black;
    border-radius: 5px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 3;
  }

  /* BURGER */
  .hamburger.active .bar {
    background-color: black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .feed-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 5em;
  }

  .menu-container {
    flex-direction: column;
  }

  .images-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-div {
    flex-direction: column;
  }

  .hours-div {
    margin-top: -2em;
  }
}

@media screen and (min-width: 786px) and (max-width: 992px) {
  html {
    font-size: 85%;
  }

  .welcome-container {
    padding-top: 10em;
  }

  .feed-div {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5em;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }

  .main-title {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    position: relative;
    left: 0;
    padding: 0;
    z-index: 0;
    height: 5em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: transparent;
  }

  .nav-item {
    margin: 3em;
    font-size: 1rem;
    font-weight: normal;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
