@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 5em;
  top: 0;
  background-color: white;
}

.main-title {
  font-size: 2rem;
  margin-left: 1em;
  text-align: center;
  color: #282828;
}

.main-title:hover {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin-right: 5.5em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #282828;
  transition: all 0.1s ease-in;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 3px solid #585858;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f4f0ec;
}

.container {
  animation: transitionIn 1s;
}

/* Page transition */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* Home Page */
.welcome-title,
.subtitle {
  text-align: center;
  font-size: 3rem;
  color: #f4f0ec;
  position: relative;
  top: 1em;
}

.subtitle {
  font-size: 1rem;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.order-now-link {
  margin: 0 auto;
  margin-top: 3em;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: lightgray;
  color: #282828;
  width: 100%;
  height: 2.8em;
  transition: all 0.2s ease-in;
}

.order-now-link:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.order-now-link:active {
  transform: translateY(-2px);
}

.home-div {
  display: flex;
  flex-direction: column;
  height: 450vh;
}

.hero-div {
  background: url('/dist/images/pizza.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 30%;
}

.article-section {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  margin-bottom: 4em;
}

.article-home-image {
  width: 60%;
  margin: 0 auto;
  margin-top: 6em;
}

.text-div {
  margin: 0 auto;
  width: 80%;
}

.homepage-text {
  padding: 3em;
  text-align: start;
  line-height: 2.5;
}

.follow-text {
  text-align: center;
  margin: 3em;
  font-size: 2rem;
  font-weight: bold;
}

.feed-div {
  margin: 0 auto;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.feed {
  width: 30%;
  height: 100%;
  transition: all 0.2s linear;
}

.feed:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Menu Page */
.menu-container {
  display: flex;
  align-items: center;
  margin-top: -5em;
}

.images-div {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 3em;
  justify-content: space-around;
}

.menu-title {
  text-align: center;
  font-family: 'MonteCarlo', cursive;
  font-weight: 500;
  font-size: 3rem;
}

.drink-title {
  text-align: center;
  font-size: 1.5rem;
}

.menu-div {
  background: whitesmoke;
  border: none;
  margin: 9em;
  border-radius: 10px;
  box-shadow: 2px 2px 2px green;
  padding: 2em;
}

.pizza-name,
.drink-title {
  padding: 2em;
}

hr {
  margin: 2em auto 1em auto;
  width: 18em;
}

.menu-images {
  height: 60%;
  width: 70%;
  box-shadow: 2px 2px 2px green;
  border-radius: 10px;
}

/* Contact Page */
h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

p {
  text-align: center;
  font-size: 1rem;
}

.form-div {
  margin-top: 3em;
  width: 50%;
}

.form-title {
  text-align: center;
  font-size: 2.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 3em;
  justify-content: center;
  gap: 2em;
}

input,
textarea {
  padding: 0.8em;
  border-radius: 5px;
  border-top: none;
}

textarea {
  height: 5em;
}

.submit-btn {
  padding: 0.8em;
  height: 3em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #e5e4e2;
  opacity: 0.9;
  color: black;
  box-shadow: 2px 2px 2px gray;
  transition: all 0.2s ease-in;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #fffaf0;
}

.submit-btn:active {
  transform: translateY(-2px);
}

.contact-div {
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-div {
  margin-top: 5em;
  display: flex;
  gap: 10em;
}

.success-div {
  margin: 6em;
  display: none;
}

.message {
  font-size: 1.5rem;
}

/* Footer */
.footer {
  width: 100%;
  height: 5em;
  align-items: center;
  background-color: #f4f0ec;
  bottom: 0;
  padding-top: 1em;
}

.icon-div {
  display: flex;
  justify-content: center;
}

.bi-facebook {
  font-size: 2.2em;
  color: blue;
}

.bi-facebook:hover {
  cursor: pointer;
}

.bi-instagram {
  font-size: 2.2em;
  padding-left: 1rem;
  color: darkred;
}

.bi-instagram:hover {
  cursor: pointer;
}

.bi-twitter {
  font-size: 2.2em;
  padding-left: 1rem;
  color: skyblue;
}

.bi-twitter:hover {
  cursor: pointer;
}

/* Media Query */
@media only screen and (max-width: 786px) {
  html {
    font-size: 40%;
  }

  .main-title {
    display: none;
  }

  .hamburger .bar {
    background-color: black;
    border-radius: 5px;
  }

  .order-now-link {
    width: 22%;
    padding: 0 0.5em;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #f4f0ec;
    width: 100%;
    height: 50%;
    text-align: center;
    transition: all 0.2s linear;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 3;
    opacity: 0.95;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1em;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 3;
  }

  /* BURGER ACTIVE */
  .hamburger.active .bar {
    background-color: black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .welcome-title,
  .subtitle {
    padding: 0.5em 2em;
  }

  .menu-container {
    flex-direction: column;
  }

  .images-div {
    display: none;
  }

  .info-div {
    flex-direction: column;
  }

  .hours-div {
    margin-top: -2em;
  }
}

@media screen and (min-width: 786px) {
  .order-now-link {
    width: 18%;
  }
}
